/* begin Page */

/* version 2.4.0.26594, file checksum is 620F94B3. */

#art-page-background-glare-image
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/page_gl.png',sizingMethod='crop')");
}

img
{
  filter: expression(artFixPNG(this));
}

/* end Page */

/* begin Box, Sheet */
.art-sheet, .art-sheet-body
{
  zoom: 1;
}

.art-sheet-body
{
  position: static;
}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl, .art-sheet-tc, .art-sheet-bc,.art-sheet-cr, .art-sheet-cl
{
  font-size: 1px;
  background: none;
}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl
{
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + artGetStyleUrl()+"images/sheet_s.png',sizingMethod='scale')");
}

.art-sheet-tl
{
  clip: rect(auto 58px 58px auto);
}

.art-sheet-tr
{
  left: expression(this.parentNode.offsetWidth-116+'px');
  clip: rect(auto auto 58px 58px);
}

.art-sheet-bl
{
  top: expression(this.parentNode.offsetHeight-116+'px');
  clip: rect(58px 58px auto auto);
}

.art-sheet-br
{
  top: expression(this.parentNode.offsetHeight-116+'px');
  left: expression(this.parentNode.offsetWidth-116+'px');
  clip: rect(58px auto auto 58px);
}

.art-sheet-tc, .art-sheet-bc
{
  width: expression(this.parentNode.offsetWidth-116+'px');
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + artGetStyleUrl()+"images/sheet_h.png',sizingMethod='scale')");
}

.art-sheet-tc
{
  clip: rect(auto auto 58px auto);
}

.art-sheet-bc
{
  top: expression(this.parentNode.offsetHeight-116+'px');
  clip: rect(58px auto auto auto);
}

.art-sheet-cr, .art-sheet-cl
{
  height: expression(this.parentNode.offsetHeight-116+'px');
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + artGetStyleUrl()+"images/sheet_v.png',sizingMethod='scale')");
}

.art-sheet-cr
{
  left: expression(this.parentNode.offsetWidth-116+'px');
  clip: rect(auto auto auto 58px);
}

.art-sheet-cl
{
  clip: rect(auto 58px auto auto);
}

.art-sheet-cc
{
  font-size: 1px;
  width: expression(this.parentNode.offsetWidth-116+'px');
  height: expression(this.parentNode.offsetHeight-116+'px');
  background-color: #FCFDFD;
}
#art-page-background-simple-gradient, #art-page-background-gradient, #art-page-background-glare
{
  width: expression(document.body.clientWidth > 900 ? "100%" : "900px");
}
/* end Box, Sheet */

/* begin Menu */
.art-menu ul
{
  width: 1px;
}

.art-menu li.art-menuhover
{
  z-index: 10000;
}

.art-menu .art-menuhoverUL
{
  visibility: visible;
}

.art-menu .art-menuhoverUL
{
  top: 100%;
  left: 0;
}

.art-menu .art-menuhoverUL .art-menuhoverUL
{
  top: 0;
  left: 100%;
}


.art-menu .art-menuhoverUL .art-menuhoverUL
{
  top: 5px;
  left: 100%;
}


.art-menu, .art-menu ul, .art-menu ul a
{
  height: 1%;
}

.art-menu li.art-menuhover
{
  z-index: 10000;
}

.art-menu .art-menuhoverUL
{
  visibility: visible;
}

.art-menu .art-menuhoverUL
{
  top: 100%;
  left: 0;
}

.art-menu .art-menuhoverUL .art-menuhoverUL
{
  top: 0;
  left: 100%;
}


.art-menu li li
{
  float: left;
  width: 100%;
}

.art-nav
{
  zoom: 1;
}

.art-nav .l, .art-nav .r
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + artGetStyleUrl()+"images/nav.png',sizingMethod='crop')");
}

.art-nav .l
{
  width: expression(this.parentNode.offsetWidth-30+'px');
}

.art-nav .r
{
  left: expression(this.parentNode.offsetWidth-886+'px');
  clip: rect(auto auto auto 856px);
}

/* end Menu */

/* begin MenuItem */
.art-menu a
{
  float: left;
}

.art-menu a:hover
{
  visibility: visible;
}

.art-menu a .r, .art-menu a .l
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + artGetStyleUrl()+"images/menuitem.png',sizingMethod='crop')");
}

.art-menu a .r
{
  left: expression(this.parentNode.offsetWidth-402+'px');
  clip: rect(auto auto auto 401px);
}

.art-menu a .l
{
  width: expression(this.parentNode.offsetWidth-1+'px');
}

.art-menuhover .art-menuhoverA .t
{
  color: #212727;
}

.art-menuhover .art-menuhoverA .l, .art-menuhover .art-menuhoverA .r
{
  top: -25px;
}
/* end MenuItem */

/* begin MenuSeparator */
.art-nav .art-menu-separator
{
  font-size: 1px;
  zoom: 1;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + artGetStyleUrl()+"images/menuseparator.png',sizingMethod='crop')");
}

/* end MenuSeparator */

/* begin MenuSubItem */
.art-menu ul a
{
  color: #FFF4E0 !important;
}

.art-menu ul a:hover {
  color: #070808 !important;
}	

.art-menu ul .art-menuhover .art-menuhoverA
{
  color: #070808 !important;
  border-color: #A86B00;
  background-position: 0 -20px;
}

.art-nav .art-menu ul a:hover span, .art-nav .art-menu ul a:hover span span
{
  color: #070808 !important;
}	

.art-nav .art-menu ul .art-menuhover .art-menuhoverA span, .art-nav .art-menu ul .art-menuhover .art-menuhoverA span span
{
  color: #070808 !important;
}

/* end MenuSubItem */

/* begin Layout */
div.art-content-layout
{
  display: block;
  zoom: 1;
  overflow: hidden;
}
/* end Layout */

/* begin Button */
.art-button-wrapper, .art-button-wrapper .l, .art-button-wrapper .r
{
  zoom: 1;
}

.art-button-wrapper .art-button
{
  float: left;
}

.art-button-wrapper .l, .art-button-wrapper .r
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + artGetStyleUrl()+"images/button.png',sizingMethod='crop')");
}

.art-button-wrapper .r
{
  left: expression(this.parentNode.offsetWidth-421+'px');
  clip: rect(auto auto auto 405px);
}

.art-button-wrapper .l
{
  width: expression(this.parentNode.offsetWidth-16+'px');
}
/* end Button */

/* begin Box, Block, VMenuBlock */
.art-vmenublock, .art-vmenublock-body
{
  zoom: 1;
}

.art-vmenublock-body
{
  position: static;
}
/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.art-vmenublockheader
{
  zoom: 1;

}

.art-vmenublockheader .l, .art-vmenublockheader .r
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + artGetStyleUrl()+"images/vmenublockheader.png',sizingMethod='crop')");
}

.art-vmenublockheader .r
{
  left: expression(this.parentNode.offsetWidth-886+'px');
  clip: rect(auto auto auto 861px);
}

.art-vmenublockheader .l
{
  width: expression(this.parentNode.offsetWidth-25+'px');
}
/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */
.art-vmenublockcontent, .art-vmenublockcontent-body
{
  zoom: 1;
}

.art-vmenublockcontent-body
{
  position: static;
}
.art-vmenublockcontent, .art-vmenublockcontent-body
{
  zoom: 1;
}

.art-vmenublockcontent-body
{
  position: static;
}
/* end Box, Box, VMenuBlockContent */

/* begin VMenuItem */
ul.art-vmenu .art-vmenu-separator, ul.art-vmenu .art-vmenu-separator-span, ul.art-vmenu li.art-vsubmenu-separator, ul.art-vmenu .art-vsubmenu-separator-span
{
  zoom: 1;
  overflow: hidden;
  float: left;
  width: 100%;
}

ul.art-vmenu a:hover
{
  visibility: visible;
}

ul.art-vmenu li
{
  zoom:1;
}

ul.art-vmenu a .r, ul.art-vmenu a .l
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + artGetStyleUrl()+"images/vmenuitem.png',sizingMethod='crop')");
}

ul.art-vmenu a .r
{
  left: expression(this.parentNode.offsetWidth-914+'px');
  clip: rect(auto auto auto 890px);
}

ul.art-vmenu a .l
{
  width: expression(this.parentNode.offsetWidth-24+'px');
}

/* end VMenuItem */

/* begin Box, Block */
.art-block, .art-block-body
{
  zoom: 1;
}

.art-block-body
{
  position: static;
}
/* end Box, Block */

/* begin Box, BlockContent */
.art-blockcontent, .art-blockcontent-body
{
  zoom: 1;
}

.art-blockcontent-body
{
  position: static;
}
.art-blockcontent-body ul li
{
  height: 1%;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + artGetStyleUrl()+"images/blockcontentbullets.png',sizingMethod='crop')");
}

/* end Box, BlockContent */

/* begin Box, Post */
.art-post, .art-post-body
{
  zoom: 1;
}

.art-post-body
{
  position: static;
}
/* end Box, Post */

/* begin PostBullets */
.art-post ul li, .art-post ol ul li
{
  height: 1%;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + artGetStyleUrl()+"images/postbullets.png',sizingMethod='crop')");
}

.art-post ul ol li
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="");
}
/* end PostBullets */

/* begin PostQuote */
blockquote,
.art-postcontent blockquote
{
  height: 1%;
  background-image: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + artGetStyleUrl()+"images/postquote.png',sizingMethod='crop')");
}
/* end PostQuote */

/* begin Footer */
.art-footer .art-footer-background
{
  top: expression(this.parentNode.offsetHeight-150+'px');
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + artGetStyleUrl()+"images/footer.png',sizingMethod='crop')");
  zoom: 1;
  font-size: 1px;
}

.art-rss-tag-icon
{
  zoom: 1;
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + artGetStyleUrl()+"images/rssicon.png',sizingMethod='crop')");
}

/* end Footer */

/* begin LayoutCell, content */
div.art-sidebar1
{
  width: auto;
}

div.art-content-layout div.art-layout-cell, div.art-content-layout div.art-layout-cell div.art-content-layout div.art-layout-cell
{
  display: block;
  overflow: hidden;
  float: left;
  clear: right;
  margin-bottom: -32000px;
  padding-bottom: 32000px;
}

div.art-layout-cell div.art-layout-cell
{
  float: none;
  clear: both;
  margin-bottom: 0;
  padding-bottom: 0;
}/* end LayoutCell, content */