/* Todo list App style.css.
Bradburry Connel @2016 August 24th-25th. */



@charset "UTF-8";

body{
	background: #edf0f1;
	padding: 80px 0 0 0;

}

.nofill {
	fill: #bdbdbd;
	transition: fill 0.4s ease;
}

header {
	width: 98%;
	height: 60px;
	position: fixed;
	padding: 9px;
	top: 0;
	left: 0;
	z-index: 5;
	background: #ef5350;
	box-shadow: 0px 2px 4px rgba(44,62,80,0.15);
	border-bottom-right-radius:10px;
	border-bottom-left-radius: 10px;  
}

header input {
	width: 80%;
	height: 50px;
	float: left;
	color: #fff;
	font-size: 15px;
	font-weight: 400;
	text-indent: 15px;
	background: rgba(255,255,255,0.2);	
	color: white;
	left :23px;
	padding-left: 40px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	border:0px;
	box-shadow: none;
	outline: none;

	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	-o-appearance:none;
	appearance:none;
}

header input::-webkit-input-placeholder {
	color: rgba(255,255,255,0.75);
}
header input::-webkit-input-placeholder {
	color: rgba(255,255,255,0.75);
}
header input::-webkit-input-placeholder {
	color: rgba(255,255,255,0.75);
}
header input::-ms-input-placeholder {
	color: rgba(255,255,255,0.75);
}

header button{
	width: 52px;
	height: 52px;
	position: absolute;
	top: 10px;
	right: 15px;
	z-index: 2;
	border-radius: 25px;
	background: #fff;
	border: 0px;
	box-shadow: none;
	outline: none;


	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	-o-appearance:none;
	appearance:none;
}


header button svg {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -10px 0 0 -10px;
	fill: #4caf50;
}


header button svg:hover {
	 fill: #43A047;
}


.container {
	width:100%;
	float:left;
	padding: 2px;
}

ul.todo {
	width: 100%;
	float: right;
}


ul.todo li {
	width: 75%;
	min-height: 24px;
	float: left;
	font-family:sans-serif ;
	font-size: 14px;
	font-weight: 500;
	color: #444;
	line-height: 22px; 


	background: #fff;
	border-radius: 5px;
	position: relative;
	box-shadow: 0px 1px 2px rgba(44,62,80,0.10);
	margin:0 0 10px 0;
	padding: 14px 100px 14px 14px;
}


ul.todo li .buttons {
	width: 100px;
	height: 50px;
	position: absolute;
	top: 0;
	right: 0;
}

ul.todo li .buttons button {
	width: 50px;
	height: 50px;
	float: left;
	background: none;
	position: relative;	
	border:0px;
	box-shadow: none;
	outline: none;

	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	-o-appearance:none;
	appearance:none;
}


ul.todo li .buttons button:last-of-type:before {
	content: "";
	width:1px;
	height:28px;
	position: absolute;
	top: 13px;
	left:0;
	background:#edf0f1;
}



ul.todo li .buttons button svg {
	width: 22px;
	height: 22px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin:-11px 0 0 -11px;
}

ul.todo#completed li .buttons button.complete svg {
	fill: #4caf50;
}

ul.todo li .buttons button.remove svg .fill {
	fill: #c0cecb;
}


ul.todo li .buttons button.remove:hover svg .fill {
	fill: #e85656;
	transition: fill 0.5s ease;
} 


ul.todo li .buttons button.complete:hover svg .fill{
	fill: #4caf50;
	transition: fill 0.5s ease;
}


ul.todo#completed {
	position: relative;
	padding: 60px 0 0 0;
}

ul.todo#completed:before {
	content: '';
	width: 150px;
	height: 1px;
	background: #dBe5e0;
	position: absolute;
	top:30px;
	left: 50%;
	margin: 0 0 0 -75px;
}

ul.todo#todo:empty:after {
	content: 'You have nothing to-do!';
	margin:15px 0 0 0;
}

ul.todo#completed:empty:after {
	content: 'You have yet to complete any task.';
}

ul.todo#todo:after.
ul.todo#completed:after {
	width:100%;
	display:block;
	text-align:center;
	font-family:sans-serif;
	font-size:12px;
	color:#aaa;